.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.users-container {
  width: 90vw;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

li {
  list-style: none;
  margin-bottom: 2rem;
}

img {
  border-radius: 50%;
  border: 3px solid #fff;
}
